.details-container {
  display: flex;
  flex-direction: row;
}

.detail-column {
  padding: 1%;
  display: flex;
  flex-direction: column;
}

.detail {
  padding: 2%;
}

.detail-row {
  display: flex;
  flex-direction: row;
}

.text-field {
  width: 100%;
}

.select-field {
  width: 100%;
}

.date-picker {
  width: 100%;
}

.description {
  font-size: 0.65rem;
}
