.btn {
  text-transform: capitalize;
  width: 10em;
}

.btn:active {
  box-shadow: -2px -2px #818181, -2px 0 #818181, 0 -2px #818181, -4px -4px black, -4px 0 black,
    0 -4px black, 2px 2px #e0dede, 0 2px #e0dede, 2px 0 #e0dede, 2px -2px #818181, -2px 2px #e0dede,
    -4px 2px black, -4px 4px white, 4px 4px white, 4px 0 white, 0 4px white, 2px -4px black,
    4px -4px white;
}

.btn-label {
  display: flex;
  flex-direction: row;
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25em;
  font-weight: 600;
}

.text {
  margin-top: 0.5rem;
}

.ie-icon {
  width: 2.5rem;
  height: auto;
  margin-top: -0.05rem;
}
