.start-menu {
  bottom: 3.75rem;
  position: absolute;
  background: var(--windows-gray);
  left: 0.25rem;
  width: 24rem;
  min-height: 3rem;
  display: none;
  z-index: 1000;
}

.start-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.start-menu-blue {
  color: #fff;
  font-weight: 900;
  position: absolute;
  transform: rotateZ(-90deg);
  width: 16rem;
  font-size: 1.25rem;
  font-family: 'Arial Black', sans-serif;
  background: var(--windows-blue);
  left: 0;
  transform-origin: 0 0;
  top: 16rem;
  box-sizing: border-box;
  padding: 0.125rem 0.75rem;
}

.start-menu-blue span {
  font-weight: 100;
  font-family: 'Arial', sans-serif;
}
