.menu-item,
.menu-item-shutdown {
  height: 4rem;
  float: left;
  cursor: pointer;
  padding: 0 0.5rem 0 0.5rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
  width: calc(100% - 3rem);
}

.menu-item {
  margin: 0 2.1rem;
}

.menu-item-shutdown {
  margin: 0 2.6rem;
}

.menu-item:before,
.menu-item-shutdown:before {
  width: 10px;
  background: black;
  content: '';
  height: 1px;
  position: absolute;
  bottom: 20px;
}

.menu-item:before {
  left: 4rem;
}

.menu-item-shutdown:before {
  left: 3.5rem;
}

.line label {
  box-shadow: 0 2px var(--windows-dark-gray), 0 4px #fff;
}

.menu-item:first-of-type:before,
.menu-item-shutdown:first-of-type:before {
  width: 14px;
}

.menu-item:hover,
.menu-item-shutdown:hover {
  background: var(--windows-blue);
  color: #fff;
  box-shadow: -8px 0 var(--windows-blue), 8px 0 var(--windows-blue);
}

.menu-item:hover:before,
.menu-item-shutdown.menu-item:hover:before {
  background: #fff;
}

.ie-icon {
  width: 3.25rem;
  height: auto;
  margin: 0 0.25rem 0 0;
}

.shutdown-icon {
  width: 2rem;
  height: auto;
  margin: 0 1rem 0 0;
}
